.btnCancel{
    background-color: rgb(146, 8, 146);
    border-color: rgb(126, 1, 126); ;
}
.btnReset{
    background-color: rgb(243, 77, 243);
    border-color: rgb(199, 14, 199);
}
.btnSaveChanges{
    background-color: rgb(253, 133, 253);
    border-color: rgb(226, 41, 226);
}